<div class="container-fluid">
  <form #f="ngForm">
    <!--    LOGIN IF-->
    <div *ngIf="isLogin">
      <div class="mb-3">
        <label class="form-label" for="usernameOrEmail">Username o email</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="loginObject.usernameOrEmail"
          name="usernameOrEmail"
          id="usernameOrEmail"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="loginObject.password"
          name="usernameOrEmail"
          id="password"
          required
        />
      </div>
    </div>

    <!--    SIGNUP IF-->
    <div *ngIf="!isLogin">
      <div class="mb-3">
        <label class="form-label" for="name">Nome</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="signupObject.name"
          name="name"
          id="name"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="username">Nome Utente</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="signupObject.username"
          name="username"
          id="username"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Indirizzo Email</label>
        <input
          type="email"
          autocomplete="email"
          class="form-control"
          [(ngModel)]="signupObject.email"
          name="email"
          id="email"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="S_password">Password</label>
        <input
          type="password"
          autocomplete="new-password"
          class="form-control"
          [(ngModel)]="signupObject.password"
          name="password"
          id="S_password"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="SC_password">Conferma Password</label>
        <input
          type="password"
          autocomplete="new-password"
          class="form-control"
          [(ngModel)]="paswwordConfirm"
          name="c_password"
          id="SC_password"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <button
        (click)="isLogin ? login() : signup()"
        class="button-success"
        type="submit"
      >
        {{ isLogin ? "Accedi" : "Registrati" }}
      </button>
      <p class="mt-2">
        <a *ngIf="isLogin" routerLink="/signup"
          >Non sei registrato? Clicca qui</a
        >
      </p>
    </div>
  </form>
</div>
