<div class="col-12 my-3 d-flex justify-content-center">
  <div class="card">
    <div class="row justify-content-end">
      <div class="col-6">
        <h5 class="card-title post_category_name">{{ categoryName }}</h5>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="row justify-content-end">
        <div class="col-12 text-end">
          <button
            mat-raised-button
            class="button-modifica"
            (click)="modifyPost()"
            type="button"
          >
            modifica
          </button>
          <button
            mat-raised-button
            class="button-elimina"
            (click)="deletePost()"
            type="button"
          >
            elimina
          </button>
        </div>
      </div>
      <div *ngIf="!isEditing" class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          {{ post.description }}
        </h6>
        <p class="card-text">{{ post.content }}</p>
      </div>

      <div *ngIf="isEditing" class="row justify-content-center">
        <div class="col p-0">
          <app-new-post [post]="post"></app-new-post>
        </div>
      </div>
    </div>
  </div>
</div>
