
.post_category_name {
  background-color: #1c1c00;
  color: #c5c5c5;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: .7rem;
  font-weight: 700;
  margin-left: 10px;
}



