<div class="container-fluid">
  <div class="row justify-content-center">
    <div *ngIf="roles.includes('ROLE_ADMIN')" class="col-12 text-center">
      <button
        class="{{ showAdmin ? 'button-elimina' : 'button' }}"
        (click)="showAdmin = !showAdmin"
      >
        HUB Amministratore
      </button>
    </div>
    <div *ngIf="showAdmin" class="col-md-6">
      <app-new-category></app-new-category>
      <app-categories></app-categories>
    </div>
    <div *ngIf="showAdmin" class="col-md-6">
      <app-new-post></app-new-post>
    </div>
  </div>

  <div class="row"></div>
  <div class="row">
    <app-post *ngFor="let post of posts$.content" [post-data]="post"></app-post>
  </div>
</div>
